In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ml_library import NeuralNetwork , z_score_normalization , train_test_split

In [94]:
df = pd.read_csv('./dataset/train_nn.csv')
df_test = pd.read_csv('./dataset/test_nn.csv')
df.shape

(16000, 23)

In [95]:
df_test.columns

Index(['Unnamed: 0', 'F_1', 'F_2', 'F_3', 'F_4', 'F_5', 'F_6', 'F_7', 'F_8',
       'F_9', 'F_10', 'F_11', 'F_12', 'F_13', 'F_14', 'F_15', 'F_16', 'F_17',
       'F_18', 'F_19', 'F_20'],
      dtype='object')

In [96]:
df.columns

Index(['Unnamed: 0', 'F_1', 'F_2', 'F_3', 'F_4', 'F_5', 'F_6', 'F_7', 'F_8',
       'F_9', 'F_10', 'F_11', 'F_12', 'F_13', 'F_14', 'F_15', 'F_16', 'F_17',
       'F_18', 'F_19', 'F_20', 'target_cls', 'target_reg'],
      dtype='object')

In [97]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Unnamed: 0, F_1, F_2, F_3, F_4, F_5, F_6, F_7, F_8, F_9, F_10, F_11, F_12, F_13, F_14, F_15, F_16, F_17, F_18, F_19, F_20, target_cls, target_reg]
Index: []

[0 rows x 23 columns]

In [98]:
df.head()

,Unnamed: 0,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9,...,F_13,F_14,F_15,F_16,F_17,F_18,F_19,F_20,target_cls,target_reg
0,0,4,7,5,5,4,6,7,3,7,...,3,8,4,8,15.70,8.75,4.69,32.7,5,7.39
1,1,4,7,6,5,5,6,8,3,7,...,3,8,4,7,18.84,8.75,4.69,32.7,5,7.83
2,2,3,5,4,3,3,7,8,5,5,...,5,9,2,6,12.56,6.25,3.35,52.5,14,6.28
3,3,4,10,6,7,6,5,7,5,7,...,3,8,6,9,18.84,8.75,6.70,54.0,11,8.74
4,4,4,10,6,8,4,8,11,2,3,...,3,11,1,8,18.84,3.75,6.70,23.4,22,9.76

In [99]:
X = df.drop(columns=['target_cls','target_reg'], axis=1).values
y = df['target_reg'].values.reshape(-1, 1)
X_test = df_test.values
X.shape, y.shape

((16000, 21), (16000, 1))

In [100]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)
X_train = z_score_normalization(X_train)
X_val = z_score_normalization(X_val)  
X_test = z_score_normalization(X_test)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((12800, 21), (3200, 21), (12800, 1), (3200, 1))

In [101]:
nn = NeuralNetwork(learning_rate=0.1, epochs=1000, loss_function='mse')
model = nn.Sequential(
    nn.Dense(100 , activation='relu'),
    nn.Dense(50 , activation='relu'),
    nn.Dense(1 , activation='linear')
)
nn.fit(X_train, y_train, model)

Epoch 0: Loss 56.60141333516904
Epoch 100: Loss 0.24030770735546333
Epoch 200: Loss 0.0917980100965368
Epoch 300: Loss 0.05169185121491979
Epoch 400: Loss 0.03377146181662041
Epoch 500: Loss 0.024854439362582484
Epoch 600: Loss 0.01868149396774059
Epoch 700: Loss 0.015516507975472518
Epoch 800: Loss 0.0125650441419261
Epoch 900: Loss 0.010446254514476455

{'layers': ({'units': 100, 'activation': 'relu'},
  {'units': 50, 'activation': 'relu'},
  {'units': 1, 'activation': 'linear'}),
 'parameters': {'w1': array([[-5.60302513e-03, -1.82705532e-03, -1.16469328e-02, ...,
          -6.57071701e-03, -6.50592339e-03,  3.60660960e-03],
         [ 6.19742855e-02,  1.83843421e-02,  2.92137066e-03, ...,
           8.06062878e-02,  1.77987676e-02,  5.88178622e-02],
         [ 6.39736936e-02,  1.56802052e-02,  9.70818782e-03, ...,
           6.80143156e-02,  1.06005696e-02,  2.32391741e-02],
         ...,
         [-9.68274171e-04,  4.66426528e-04, -9.08085450e-03, ...,
          -3.00190507e-03, -1.05384101e-02,  1.56291016e-02],
         [ 3.38639274e-02,  1.26886505e-02,  1.29836895e-02, ...,
           4.81419190e-02,  4.85373955e-03,  3.33995650e-02],
         [-1.24238985e-02,  8.19527825e-04,  6.53114215e-03, ...,
           2.39303872e-05,  4.75249004e-03,  8.61512183e-03]],
        shape=(21, 100)),
  'b1': array([[-0.03096463, -0.02547214, -0.01751797, -0.01705114, -0.01834947,
          -0.02971461, -0.00027889, -0.01513639, -0.02032018, -0.01074299,
          -0.01242023, -0.01012872, -0.0189563 , -0.01562856, -0.02225883,
          -0.01887409, -0.01435832, -0.01970721, -0.00591872, -0.01066441,
          -0.02025285, -0.01582755, -0.01391625, -0.04276702, -0.0107247 ,
           0.0596571 , -0.02020066, -0.0399689 , -0.02724695, -0.05046769,
          -0.03487594, -0.02025831, -0.01910214, -0.01609271, -0.00082484,
          -0.01330239, -0.00539184, -0.01179037, -0.01791607, -0.02726106,
          -0.0157353 , -0.03116188,  0.01147034, -0.01265093,  0.01808931,
          -0.01999919, -0.03578503, -0.04004912,  0.010207  , -0.02050383,
          -0.02822288, -0.01434034, -0.02434358, -0.00935119, -0.03292757,
          -0.01416311, -0.019482  , -0.02669344, -0.0185852 , -0.02202815,
          -0.02365517, -0.01615201, -0.002415  , -0.00963715,  0.05734979,
          -0.02077821, -0.01668857, -0.03700215, -0.01338071, -0.02186372,
          -0.02466537, -0.02224302, -0.01239615, -0.0110448 , -0.01976862,
          -0.02695065, -0.01388477, -0.01403793, -0.03956533, -0.03050383,
          -0.03428773, -0.01203448, -0.01299721, -0.01966001,  0.0056214 ,
          -0.01703018, -0.01694315, -0.0183872 , -0.01308716, -0.02494563,
          -0.01416546, -0.0008979 , -0.01663095, -0.01283934, -0.01609682,
          -0.01875465, -0.01749132, -0.02833914, -0.02197101, -0.02634338]]),
  'w2': array([[-1.07914349e-02, -3.30642496e-03,  5.58319323e-03, ...,
           9.78315552e-02, -4.39067603e-03,  2.14832843e-03],
         [-2.41170575e-02,  3.89687852e-03,  2.27206239e-02, ...,
           4.60370955e-02, -1.29501233e-02,  8.43823190e-06],
         [ 3.14887431e-03, -5.61431461e-03, -2.30498380e-02, ...,
           1.90507430e-02, -8.05242320e-03,  7.28377362e-03],
         ...,
         [-2.22961290e-03,  9.39080990e-03, -5.30086632e-03, ...,
           9.45879306e-02, -1.23476880e-02, -1.73346160e-02],
         [-2.07259404e-03, -6.72403425e-04,  4.59556381e-03, ...,
           1.68597806e-02,  7.08138067e-03, -2.25554649e-02],
         [-7.07024469e-03,  4.88582360e-03,  4.50865991e-03, ...,
           7.82918889e-02,  6.76094654e-05, -5.36885504e-04]],
        shape=(100, 50)),
  'b2': array([[-1.20625679e-02, -9.55872650e-03, -9.38482977e-03,
          -1.61760990e-02, -8.87712463e-04,  1.51442621e-01,
          -1.67280335e-02,  5.82590705e-02, -5.24860594e-03,
          -9.63297400e-03,  4.13829335e-01,  1.20692340e-03,
          -9.25435188e-03,  1.99919730e-01,  7.78910574e-04,
          -1.53517081e-02,  3.69426250e-03,  7.43100311e-02,
          -6.36720963e-03, -7.00569269e-04, -3.38096898e-02,
           1.52710918e-02,  7.06743064e-02,  9.53551722e-02,
           2.62662482e-01, -3.28737872e-02,  4.93267675e-01,
           4.81477660e-04, -1.05484997e-02,  1.33574226e-02,
           2.57842685e-02, -8.25461825e-03,  1.67743271e-01,
           5.60318130e-03, -1.78188525e-02, -1.91879278e-02,
          -1.52609711e-02,  1.34304908e-01,  7.35900251e-04,
          -2.02229544e-03,  2.15701263e-01, -6.72419129e-03,
           8.28101836e-02,  3.11302538e-01,  5.43634910e-02,
          -3.08551827e-03, -6.66665254e-03,  6.74121601e-01,
           4.58554411e-03, -4.32772046e-03]]),
  'w3': array([[-0.29169364],
         [-0.1630628 ],
         [-0.00750025],
         [-0.0267686 ],
         [-0.07017972],
         [ 0.13145547],
         [-0.02496868],
         [ 0.14063258],
         [-0.00628324],
         [-0.20378222],
         [ 0.35309306],
         [ 0.01101434],
         [-0.01500767],
         [ 0.18868228],
         [-0.19479255],
         [-0.00716605],
         [ 0.00665212],
         [ 0.17484505],
         [-0.1624816 ],
         [ 0.00283137],
         [-0.02494478],
         [ 0.03262592],
         [ 0.16656795],
         [ 0.07765181],
         [ 0.39499541],
         [-0.03532026],
         [ 0.42506219],
         [ 0.00129567],
         [-0.27082292],
         [ 0.02952788],
         [ 0.02792494],
         [-0.18902505],
         [ 0.14673723],
         [ 0.01458235],
         [-0.01238748],
         [-0.42031935],
         [-0.08008244],
         [ 0.10749327],
         [ 0.00339399],
         [-0.3030426 ],
         [ 0.17776608],
         [-0.09974343],
         [ 0.16955334],
         [ 0.26520278],
         [ 0.11303348],
         [-0.2601449 ],
         [-0.00374359],
         [ 0.61394079],
         [-0.0487703 ],
         [-0.10886883]]),
  'b3': array([[6.30061445]])}}

In [102]:
y_pred = nn.predict(X_val, model=model)
y_pred

array([[3.83357967],
       [9.8353029 ],
       [8.12980684],
       ...,
       [4.1415919 ],
       [6.59760363],
       [7.10984346]], shape=(3200, 1))

In [103]:
nn.evaluation_metrics(y_val, y_pred)

R2 Score: 0.9978369689303919
Mean Squared Error: 0.008479934292076814
Root Mean Squared Error: 0.09208655869385507
Mean Absolute Error: 0.07115423826563022

(np.float64(0.008479934292076814),
 np.float64(0.09208655869385507),
 np.float64(0.07115423826563022),
 np.float64(0.9978369689303919))

In [104]:
y_pred_test = nn.predict(X_test, model)

In [105]:
X_test.shape

(4000, 21)

In [106]:
df_test['target_reg'] = y_pred_test.reshape(-1)
df_test.to_csv('./output/submission_nn_regression.csv', index=False)